<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Awesome Website</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <img src="/contact_us.jpg" width="150px">
    <a href="/">Home</a> | 
    <a href="/all">All Contacts</a>
    <hr>
    <%= yield %>
  </body>
</html>
